.Hello-Manish {
    width: 216.9px;
    height: 53.2px;
    flex-grow: 0;
    margin: 0 75.1px 21.8px 0;
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #030319;
  }